<div class="container">
  <div class="text-center">
      <%= form_with(model: task, local: true) do |f| %>
      <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title ,class:'fs-16' %>
  </div>

  <div class="field form-group">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field form-group">
    <%= f.label :Deadline %>
    <%= f.date_field :deadline, placeholder: 'Deadline' %>
  </div>

  <div class="field status form-group">
    <%= f.label :Status %>
    <%= f.select :status, Task.statuses.keys %>
  </div>

  <div class="field prority form-group">
    <%= f.label :Priority %>
    <%= f.select :priority, Task.priorities.keys %>
  </div>

  <div class="form_labels field form-group">
   <%= f.label :label, 'Etiquettes' %><br>
    <div class="row">
      <% Label.all.each do |label| %>
        <%= f.check_box :label_ids, { multiple: true, checked: label[:checked], disabled: label[:disabled], include_hidden: false }, label[:id] %>
        <%= label.name %>
      <% end %>
    </div>
  </div>

  <div class="actions">
      <%= f.submit "Create Task", class:'btn btn-primary' %> | <%= f.submit "Edit", class:'btn btn-primary' %>
  </div>
<% end %>
</div>
</div>
