<div class="container">
<%= form_with(model: task, local: true) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="login_forms">
  <h1>New Task</h1>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title ,class:'fs-16' %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="field f-group">
    <%= f.label :Deadline %>
    <%= f.date_field :deadline, placeholder: 'Deadline' %>
  </div>

  <div class="field status f-group">
    <%= f.label :Status %>
    <%= f.select :status, Task.statuses.keys %>
  </div>

  <div class="field prority f-group">
    <%= f.label :Priority %>
    <%= f.select :priority, Task.priorities.keys %>
  </div>

  <div class="actions">
    <%= f.submit "Create Task" %> | <%= link_to 'Back', tasks_path %>
  </div>
<% end %>
</div>
</div>
