<p id="notice"><%= notice %></p>
<style>
  th{
    font-size: 18px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    }
</style>

<h1><%= link_to 'Tasks' ,root_path %></h1>

<div class="container shadow">
 <h1>Tasks List</h1>
 <div class="row py-3">
  <div class="col sm-3">
    <div class="col">
      <%= form_with(url: search_tasks_path, method: :get, local: true) do |f| %>
        <% if defined? @search_title %>
      <%= f.text_field :search_title, value: @search_title ,class:'label mx-3'%>
        <% else %>
      <%= f.text_field :search_title %> |
        <% end %>
      <%= f.select :search_status, Task.statuses.map { |k, v| [k, v] }, class: 'search_status form-control', prompt: 'status'%> |
      <%= f.select :search_priority, Task.priorities.map { |k, v| [k, v] }, class: 'search_priority form-control', prompt: 'priority'%> |
      <%= f.select :search_label, @labels.collect { |p| [p.name, p.id]}, class: "search_label", prompt: 'Tag' %> |
      <%= f.submit 'search',class:'btn btn-light fs-15' %>
        <% end %>
     </div>
   </div>
 </div>

  <div class="container py-3">
    <%= link_to 'New Task', new_task_path ,class: 'btn btn-primary text-light'%> |
    <%= link_to 'New Label', new_label_path, class:'btn btn-outline-warning' %> |
    <%= link_to "sort by end deadline", tasks_path(sort_expired: "true"), class: 'col btn btn-secondary text-light' %>
  </div>
  <table class="table">
     <thead>
       <tr>
        <th>Author</th>
        <th>Title</th>
        <th>Content</th>
        <th>Deadline</th>
        <th>Registered at</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Admin/User</th>
        <th>Tag</th>
        <th colspan="4"></th>
       </tr>
      </thead>
      <tbody>
        <% @tasks.each do |task| %>
          <tr>
           <td><%= current_user.name %></td>
           <td class="task_row task_title"><%= link_to task.title, task_path(task.id) %></td>
           <td><%= task.content %></td>
           <td><%= task.deadline %></td>
           <td><%= task.created_at %></td>
           <td><%= task.status %></td>
           <td><%= task.priority %></td>
           <td><%= User.find(task.user_id).name%></td>
           <td>
              <% task.labels.each do |label| %>
                [<%= label.name %>]
              <% end %>
          </td>
           <td><%= link_to 'Show', task, class:'btn btn-outline-primary'%></td>
           <td><%= link_to 'Edit', edit_task_path(task), class:'btn btn-outline-warning' %></td>
           <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger' %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <br>
    <%= paginate @tasks %>
</div>
