<div class="container">
  <h4>Page of <%= @user.name %></h4>
  <hr>
  <% if @tasks.present? %>
    <% @tasks.each do |task| %>
    <h4 class="task_name task_row">
      <%= task.title %><br>
    </h4>
      <%= task.content %><br>
      <%= task.status %><br>
      <%= task.priority %><br>
      <% task.labels.each do |label| %>
        [<%= label.name %>]
      <% end %>
      <br>
<%= link_to 'show', task_path(task.id), class: 'fs-10 task_show btn btn-primary' %> |
<%= link_to 'edit', edit_task_path(task.id), class:'fs-10 btn btn-outline-warning' %> |
<%= link_to 'destroy', task_path(task.id), method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class:'fs-10 btn btn-outline-danger' %>
  <hr>
  <% end %>
  <% else %>
    <%= 'There is no task created by this user' %>
  <% end %>
  <%= paginate @tasks %>
</div>
